<article class="post">
  <div class="sighting">
    <a href="/post/{{id}}">{{sighting}}</a>
    <span id="signature">({{user.username}} SIGHTED ON {{datetime}} IN {{location}})</span>
    <br>
    <span>{{description}}</span>
  </div>
  <div class="meta">
    {{sharedSighting}} {{format_plural "shared sighting" sharedSighting}} 
    |
    <a href="/post/{{id}}">{{comments.length}} {{format_plural "comment" comments.length}}</a>
  </div>
</article>