<article>
  <a href="/dashboard"> &larr; Back to dashboard</a>
  <h2>
    Edit Sighting
  </h2>
  <form class="edit-post-form">
    <!--<div>
      <label for="post-sighting">Sighting</label>
      <textarea name="post-sighting" id="post-sighting">{{post.sighting}}</textarea>
      <br>
      <br>
      <label for="post-description">Description</label>
      <textarea name="post-description" id="post-description">{{post.description}}</textarea>
    </div>-->
    <div>
      <label for="post-sighting">Sighting (shape and approximate duration)</label>
      <textarea name="post-sighting" id="post-sighting">{{post.sighting}}</textarea>
    </div>
    <div>
      <label for="post-description">Detailed Description</label>
      <textarea name="post-description" id="post-description">{{post.description}}</textarea>
    </div>
    <div>
      <label for="post-datetime">YYYY-MM-DD @ HH:MM (for sorting)</label>
      <input name="post-datetime" id="post-datetime" value="{{post.datetime}}">
    </div>
    <div>
      <label for="post-location">City,State</label>
      <input name="post-location" id="post-datetime" value="{{post.location}}">
    </div>
    <div>
      <a href="/post/{{post.id}}">{{post.comments.length}} {{format_plural "comment" post.comments.length}}</a>
    </div>
    <button type="submit">Save Sighting</button>
    <button type="button" class="delete-post-btn">Delete Sighting</button>
  </form>
</article>

<form class="comment-form">
  <div>
    <textarea name="comment-body"></textarea>
  </div>

  <div>
    <button type="submit">Add Comment</button>
  </div>
</form>

{{> comments post.comments}}

<script src="/javascript/edit-post.js"></script>
<script src="/javascript/delete-post.js"></script>
<script src="/javascript/comment.js"></script>